VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=weather-markets-bot.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=weather-markets-bot
VITE_FIREBASE_STORAGE_BUCKET=weather-markets-bot.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
